* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.wide {
    max-width: 1230px;
    // padding: 0;
}

.col-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}
