@media (max-width: 1023px) {
    .hide-on-tablet-mobile {
        display: none;
    }

    .search__list {
        padding: 0;
    }
    .search__menu {
        display: block;
        height: 24px;
        width: 24px;
        cursor: pointer;
        margin-right: 4px;
        &-icon {
            color: $white_color;
            font-size: 2.2rem;
        }
    }

    .search__wrapper {
        padding: 0 15px;
    }

    .search__button {
        width: 34px;
    }

    .search__item {
        margin-left: 0;
    }
    .search__cart-list {
        display: none !important;
    }

    .nav {
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #f3f3f3;
        width: 260px;
        display: block;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
        z-index: 1000;
        .search__wrap {
            width: 220px;
            height: 33px;
            margin: 50px 0 20px 20px;
            display: flex;
        }

        &.active {
            transform: translateX(0);
        }
        &__list {
            display: block;
        }

        &__item {
            padding: 15px 0 15px 20px;
            border-top: 1px solid #dddd;

            &:last-child {
                border-bottom: 1px solid #dddd;
            }

            &:nth-child(1) .nav__link {
                color: #666666d9;
                border-bottom: 0;
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
            &:hover .nav__link {
                color: #111111d9;
                border: 0;
            }
        }
        &__link {
            color: #666666d9;
        }
    }
    .social {
        padding-left: 20px;
        justify-content: flex-start;
        display: flex;
        &__item {
            margin: 0 10px 0 0;
        }
        &__link {
            color: #666666d9;
            font-size: 1.28rem;
            :hover {
                color: #111111d9;
            }
        }
    }

    .trend__wrapper {
        height: 250px;
    }

    .trend__img {
        object-position: 70% 0;
    }

    .type-watch__img {
        object-position: 50% 50%;
    }

    .type-watch__overlay {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .type-watch__box {
        top: 50%;
        transform: translateY(-50%);
    }

    .type-watch__img--position {
        object-position: 100% 0;
    }

    .footer__bottom {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header {
        height: 98px;
    }

    .slide {
        &__container {
            height: 450px;
        }

        .swiper-button-next {
            right: 15px;
        }

        .swiper-button-prev {
            left: 15px;
        }

        &__information {
            width: 495px;
            left: 40px;
        }

        &__subtitle {
            font-size: 2.05rem;
            margin: 12.5px 0;
        }

        &__title {
            margin: 10px 0;
            font-size: 4.9rem;
        }

        &__dsc {
            font-size: 1.4rem;
            margin: 14px 0;
        }
        &__button {
            padding: 9px 29px;
            margin: 9px 0;
        }
    }

    .trend {
        &__subtitle {
            font-size: 1.85rem;
            margin: 3.7px 0;
        }
        &__distance {
            margin: 14px 0;
        }
    }

    .product__link {
        height: 300px;
    }

    .type-watch__box {
        width: 293px;
    }
    .type-watch__subtitle {
        font-size: 1.85rem;
        margin: 3.6px 0;
    }

    .product-common__link {
        height: 260px;
    }

    .blog-post__wrap {
        height: 125px;
    }

    .subcribe__wrap {
        width: 330px;
    }

    .subcribe__input {
        width: 225px;
    }
}

@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .header {
        height: 68px;
    }

    .search__wrapper {
        height: auto;
    }

    .slide {
        &__container {
            height: 300px;
        }

        &:hover .swiper-button {
            display: none;
        }

        &__information {
            width: 351px;
            left: 20px;
        }

        &__subtitle {
            font-size: 1.65rem;
            margin: 10px 0;
        }

        &__title {
            margin: 7.7px 0;
            font-size: 3.85rem;
        }

        &__dsc {
            font-size: 1.1rem;
            margin: 11px 0;
        }
        &__button {
            padding: 6px 13px;
            margin: 9px 0;
        }
    }

    .trend {
        &__subtitle {
            font-size: 3.6rem;
            margin: 6.6px 0;
        }
        &__distance {
            margin: 24.75px 0;
        }
    }

    .product__link {
        height: 200px;
    }

    .type-watch__box {
        width: 311px;
    }
    .type-watch__subtitle {
        font-size: 3.3rem;
        margin: 6.6px 0;
    }
    .product-common__wrap {
        height: 325px;
    }
    .product-common__link {
        height: 200px;
    }
    .product-common__title-link {
        margin-bottom: 20px;
    }

    .blog-post__wrap {
        height: 208px;
    }

    .blog-post__title {
        font-size: 2.04rem;
        margin: 20px 0 19px;
    }
    .blog-post__dsc {
        font-size: 1.36rem;
    }

    .subcribe {
        flex-direction: column;
        justify-content: center;
    }

    .subcribe__wrap {
        width: 350px;
        margin: 35px 0;
    }

    .subcribe__input {
        width: 245px;
    }
}
